@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.txt-select-msg{
    color: rgb(167, 34, 158);
    font-family:'Jomhuria', cursive;
    font: Jomhuria;
    font-size: 500%;
    justify-content: center;
}
.card-set{
    display:flex;
    flex-direction: column;
    width: 20%;
}

.cont-cards{
    display: flex;
    width: 100%;
}

.txt-card{
    color: grey;
    font-family:'Jomhuria', cursive;
    font: Jomhuria;
    font-size: 4rem;
    margin: 10%;
}

.img-set{
    width: 10%;

}
