@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');

.container-header{
   width: 100%;
    background-color: #fb0097;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.header-titol{
   color: #f2db0a;
   font-family:'Jomhuria', cursive;
   font: Jomhuria;
   font-size: 600%;
}

.container-nav{
   display: flex;
   width: 40%;
}

.header-nav{
   color: white;
   font-family:'Jomhuria', cursive;
   font: Jomhuria;
   font-size: 200%;
   margin: 7%;
   text-decoration: none;
}

